body{
   padding:0px;
   margin: 0px;
   box-sizing: border-box;
}

form input{
    display: block;
    padding: 5px 90px;
    
   
}
form label{
    display: block;
    padding: 10px;
    font-size: 18px;
    font-weight: bolder;
    color: black;
}


form button {
    border:none;
    padding: 10px 50px;
    background-color: green;
    color: white;
   
}
.hookBlock{
    margin-top: 50px;
    max-width: 400px;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    max-height: 100vh;
    
}
form textarea::placeholder{
    font-size: 18px;
}
input[type="search"]{
    padding: 5px 90px;
}
button[type="reset"]{
    margin-left: 5px;
  border: none;
  color: white;
  padding: 6px 10px;
  background-color: red;
}