
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


body{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
.mainBlock{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}